################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Debug
/include/GL
/include/SDL
/lib
/GameForFunny.vcxproj.user
/GameForFunny.vcxproj.filters
/GameForFunny.vcxproj
